* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('Poppins/Poppins-Light.ttf');
}


/* desktop */
@media all and (max-width: 1600px) and (min-width: 1024px) {
  
    .title_div{
    background: linear-gradient(rgb(255, 248, 236), white);
    }


    .title{
        color: #FFAA2C;
        font-family: 'Poppins';
        font-size: 3rem;
        margin-left: 8rem;
        margin-top: 0rem;
        padding-top: 5rem;
    }

    .subtitle_link{
        color: #FF784E;
        font-size: 1rem;
        font-family: 'PoppinsLight';
    }

    .subtitle_link:hover{
        color: #ffaa60;
        transition: ease-in, 0.1s;

    }

    .subtitle{
        margin-bottom: 4rem;
        margin-left: 8rem;
        padding-top: 0.5rem;
    }


    .info_div{
        margin-left: 8rem;
    }

    .info_heading{
        font-family: 'Poppins';
        color: #FF4545;
        font-size: 1.7rem;
    }

    .info_subheading{
        font-family: 'Poppins';
        color: #FFAA2C;
        font-size: 1.3rem;
    }

    .list_style{
        margin-left: 4rem;
        font-family: 'Poppins';
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

    .triggers_div{
        display: inline-block;
        width: 35%;
    }

    .rules_div{
    
    }

    .feedback_div{
        
    }

    .loopsAndModes_div{
        
    }

    .images_div{
        margin: 4rem 8rem 8rem 8rem;
    }


    .images_div_title{
        color: #FFAA2C;
        font-family: 'Poppins';
        font-size: 3rem;
        margin-top: 6rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        
    }

    .image{
        width: 30%;
    }


}


/* tablet/mobile */
@media all and (max-width: 1024px) and (min-width: 300px) {


    .title_div{
        background: linear-gradient(rgb(255, 248, 236), white);
        }
    
    .title{
        color: #FFAA2C;
        font-family: 'Poppins';
        font-size: 1.7rem;
        margin-left: 3rem;        
        margin-top: 4rem;
    }

    .subtitle_link{
        color: #FF784E;
        font-size: 0.7rem;
        font-family: 'PoppinsLight';
    }

    .subtitle_link:hover{
        color: #ffaa60;
        transition: ease-in, 0.1s;

    }

    .subtitle{
        margin-bottom: 2rem;
        margin-left: 3rem;
        padding-top: 0.5rem;
    }


    .info_div{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .info_heading{
        font-family: 'Poppins';
        color: #FF4545;
        font-size: 1.2rem;
        padding-top: 2rem;
    }

    .info_subheading{
        font-family: 'Poppins';
        color: #FFAA2C;
        font-size: 1rem;
    }

    .list_style{
        margin-left: 2.5rem;
        margin-right: 3rem;
        font-family: 'Poppins';
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }



    .images_div{
        margin: 1rem;
    }


    .images_div_title{
        color: #FFAA2C;
        font-family: 'Poppins';
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        font-size: 1.8rem;
    }

    .image{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }



}


